#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2px;
}

.form-list {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
}

.done-list {
  text-decoration: line-through;
}
